<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.condingblocks.multicopy">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Multi Copy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".Services.TextCaptureService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".views.TryActivity" />
        <activity
            android:name=".views.Activities.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".views.Activities.TextCallActivity"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".views.Activities.NoteEditActvity" />
        <activity android:name=".views.Activities.NewNoteActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="658284e411bf6dd78736577db09381b9352bc92c" />

        <activity android:name=".views.Activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>